* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  display: flex;
  margin-top: 15px;
  margin-left: 50px;
  box-sizing: border-box;
  background-color: #b08730;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: 0.5;
  margin-left: 35%;
  border: rgb(124, 189, 26) solid 4px;
}

.container {
  position: absolute;
  width: 450px;
  padding: 20px 35px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fcbe38;
}

.page-title {
  color: #b08730;
  margin-left: 15px;
}

.page-subtitle {
  color: #ffffff;
  margin-left: 15px;
  text-decoration: underline;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  background-color: beige;
}

label {
  color: #fcbe38;
  font-size: 15px;
  text-transform: uppercase;
}

button {
  margin-top: 12px;
  padding: 5px 9px;
  border-radius: 10px;
  border-color: #7eb00c;
  color: azure;
  background: #7eb00c;
}

h2 {
  color: #512bfc;
  font-size: 20px;
}
